APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_HOST=localhost
APP_URL=https://${APP_HOST}
APP_TIMEZONE=America/Caracas
ASSET_URL="/" # for relative asset path

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

HASH_DRIVER=argon2id
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily,errorlog
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite #? sqlite,mysql,pgsql,mariadb,sqlsrv
# DB_HOST=127.0.0.1
# DB_PORT=3306 #? 3306,5432,1433
# DB_DATABASE=laravel #! must be a path if sqlite
# DB_SCHEMA=public #! for postgres
# DB_USERNAME=root
# DB_PASSWORD=
# DB_ENCRYPT=yes #! for sqlsrv
# DB_TRUST_SERVER_CERTIFICATE=true #! for sqlsrv
POSTGRES_VERSION=18

SESSION_DRIVER=database #? file, cookie, database, memcached, redis, dynamodb, array
SESSION_CONNECTION="${DB_CONNECTION}" #? redis
SESSION_TABLE=sessions
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local #? s3
QUEUE_CONNECTION=database #? redis

CACHE_STORE=failover #? file, cookie, database, memcached, redis, dynamodb, array, octane
# CACHE_PREFIX="${APP_NAME}_"

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_ENDPOINT= #? endpoint must point to 9000 port
AWS_URL=${AWS_ENDPOINT}/${AWS_BUCKET}/

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=185356
REVERB_APP_KEY=3aurl2cwkcfabgptbzjx
REVERB_APP_SECRET=gcrtjilvgue8lu0txkrh
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

ANTHROPIC_API_KEY=
AZURE_OPENAI_API_KEY=
COHERE_API_KEY=
DEEPSEEK_API_KEY=
ELEVENLABS_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=
OLLAMA_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
JINA_API_KEY=
VOYAGEAI_API_KEY=
XAI_API_KEY=

REVERB_APP_ID=102795
REVERB_APP_KEY=w0numttg3gyouhnlyx5u
REVERB_APP_SECRET=iuo3t7fmfxwl4grkdrea
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

OCTANE_SERVER=frankenphp
OCTANE_HTTPS=true

SCALAR_URL="https://cdn.jsdelivr.net/npm/@scalar/galaxy/dist/latest.json"
